
<div id="{$_name}" style="display:none" for-xepan-component="xepan/listing/Tool_ListDetail" class="xepan-tool-options">
  <table class="table table-condensed table-hover xepan-cms-tool-table">
    <tr class="xepan-tool-option">
      <td class="xepan-tool-option-title">Show List Details</td>
      <td class="xepan-tool-option-value"> 
        <select id="show_list_details" data-attr="show_list_details">
          <option>true</option>
          <option>false</option>
        </select>
      </td>
    </tr>
    <tr class="xepan-tool-option">
      <td class="xepan-tool-option-title">Show Public Fields</td>
      <td class="xepan-tool-option-value"> 
        <select id="show_public _fields" data-attr="show_public_fields">
          <option>true</option>
          <option>false</option>
        </select>
      </td>
    </tr>
    <tr class="xepan-tool-option">
      <td class="xepan-tool-option-title">Show Private Fields</td>
      <td class="xepan-tool-option-value"> 
        <select id="show_private_fields" data-attr="show_private_fields">
          <option>true</option>
          <option>false</option>
        </select>
      </td>
    </tr>
    <tr class="xepan-tool-option">
      <td class="xepan-tool-option-title">Show Protected Fields</td>
      <td class="xepan-tool-option-value"> 
        <select id="show_protected _fields" data-attr="show_protected_fields">
          <option>true</option>
          <option>false</option>
        </select>
      </td>
    </tr>
    <tr class="xepan-tool-option">
      <td class="xepan-tool-option-title">Allow Public Message</td>
      <td class="xepan-tool-option-value"> 
        <select id="allow_public _message" data-attr="allow_public_message">
          <option>true</option>
          <option>false</option>
        </select>
      </td>
    </tr>
    <tr class="xepan-tool-option">
      <td class="xepan-tool-option-title">Allow Views</td>
      <td class="xepan-tool-option-value"> 
        <select id="allow_views" data-attr="allow_views">
          <option>true</option>
          <option>false</option>
        </select>
      </td>
    </tr>
    <tr class="xepan-tool-option">
      <td class="xepan-tool-option-title">Show Ratings</td>
      <td class="xepan-tool-option-value"> 
        <select id="show_ratings" data-attr="rating">
          <option>true</option>
          <option>false</option>
        </select>
      </td>
    </tr>
    <tr class="xepan-tool-option">
      <td class="xepan-tool-option-title">Show Social Share</td>
      <td class="xepan-tool-option-value"> 
        <select id="show_social_share" data-attr="social_share">
          <option>true</option>
          <option>false</option>
        </select>
      </td>
    </tr>
  </table>
  <script>
    $('#{$_name} [data-attr]').on('change',function(){
    	$(current_selected_component).attr($(this).data('attr'),$(this).val());
    });
    
    $('#{$_name}').on('show',function(event){
    	$('#{$_name} [data-attr]').each(function(index,value){
    		$(this).val($(current_selected_component).attr($(this).data('attr')));				
    	});
    })
  </script>
</div>