<div id="{$_name}" class="{$class}" style="{$style}">
	<div class="row">
	{category_list}
	{rows}
	{row}
		<div class="col-sm-6 col-md-4">
	    	<div class="thumbnail">
	      		{image_wrapper}
	      		<img src="{$image_url}" alt="">
	      		{/}
	      		<div class="caption">
		        	<h3>{$name}</h3>
		        	<p>...</p>
		        	<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
	      		</div>
	    	</div>
	  	</div>
	  	{$nested_category}
	{/}
	{/}
	{/}
	</div>
	{$Content}
</div>